In [ ]:
# Project Title Next Movie Production

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Q1 Movie revenue by month?
# Create a graph that shows fluctations in revenue by month and year
# Ideas of info we can show:
    # What month has the highest and lowest revenue?
    # In the last 5 years, provide the highest grossing film or the year and month of release.
    # Accounting for peak COVID (2020-2021) - based on data, is there a significant change around this time in comparison to pre-covid (before 2020) and post-peak-covid (2022-2023)?

In [5]:
firstdf = pd.read_csv("../Cleaned Data/cleaned_movie_data.csv")
firstdf.head(5)

,Movie ID,Title,Average Rating (Out of 10),Number of User Ratings,TMDb Popularity Score,Gross Revenue,Net Revenue,Net Revenue (% Over Budget),Budget,Release Date,...,Genre 3,Genre 4,Genre 5,Runtime (Minutes),1st Billing,2nd Billing,3rd Billing,4th Billing,5th Billing,Director
0,11688,The Emperor's New Groove,7.5,6007,86.051,169327687,69327687,0.693277,100000000,2000-12-15,...,Comedy,Family,Fantasy,78,David Spade,John Goodman,Eartha Kitt,Patrick Warburton,Wendie Malick,Mark Dindal
1,4247,Scary Movie,6.3,6247,88.909,278019771,259019771,13.632620,19000000,2000-07-07,...,NaN,NaN,NaN,88,Anna Faris,Jon Abrahams,Marlon Wayans,Shawn Wayans,Regina Hall,Keenen Ivory Wayans
2,9600,Big Momma's House,5.8,2096,81.102,173959438,143959438,4.798648,30000000,2000-05-31,...,NaN,NaN,NaN,98,Martin Lawrence,Nia Long,Paul Giamatti,Jascha Washington,Terrence Howard,Raja Gosnell
3,98,Gladiator,8.2,16708,67.513,465361176,362361176,3.518070,103000000,2000-05-04,...,Adventure,NaN,NaN,155,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,Richard Harris,Ridley Scott
4,955,Mission: Impossible II,6.1,5985,64.994,546388105,421388105,3.371105,125000000,2000-05-24,...,Thriller,NaN,NaN,123,Tom Cruise,Dougray Scott,Thandiwe Newton,Ving Rhames,Richard Roxburgh,John Woo

In [ ]:
# Q2 Movie revenue by genre?
# Create a graph that shows the relation between genre and revenue by year
# Ideas of info we can show:
    # What is the top and lowest genre for each year?
    # Is there a genre that is prevalent as top genre in the last 5-10 years?
    # What genre is in decline YoY or getting popular YoY?

In [ ]:
# Q3 What are better times of the year for certain genres of movies to be released?
# Create a graph for movie genre trends by month and analyze if there is a correlation between genre and seasonality.
# Ideas of info we can show:
    # Is there a genre that is popular on certain months/season?
    # What type of genre is popular all year round?
    # Is there a genre that is only popular on certain months and not performing well in box office any other months/season?